<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>speakfree</string>
	<key>CFBundleExecutable</key>
	<string>speakfree</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.definitelyreal.speakfree</string>
	<key>CFBundleName</key>
	<string>speakfree</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>1.4.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Audio File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.audio</string>
				<string>public.movie</string>
				<string>com.apple.m4a-audio</string>
				<string>public.mp3</string>
				<string>com.microsoft.waveform-audio</string>
				<string>public.aiff-audio</string>
				<string>public.aifc-audio</string>
				<string>public.flac-audio</string>
				<string>public.mpeg-4-audio</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>speakfree needs microphone access to record your voice.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://definitelyreal.github.io/speakfree/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>TNntzjYy93kcEN80zmT8Hp6PPD0BfluqSDl6PmxQArQ=</string>
</dict>
</plist>
